<div class="panel">
	<div class="panel-body">

		<div class="col-lg-12">
			<section class="panel">
				<header class="panel-heading">
					<span class="">修改</span> <span class="tools pull-right"> 
						<a href="/roles" class="fa fa-times"></a>
					</span>
				</header>
				<div class="panel-body">
					<form role="form" th:action="@{/roles/{roleId}/(roleId=${role.id})}" method="post" class="pjax-form" >
						<div class="form-group">
							<label>角色名</label>
							<div class="iconic-input">
								<i class="fa fa-bullhorn"></i> <input th:field="${role.name}"
									class="form-control" placeholder="输入角色名" type="text" />
							</div>
						</div>
						<div class="form-group">
							<label>备注</label>
							<div class="iconic-input right">
								<i class="fa fa-coffee"></i> <input
									th:field="${role.desc}" class="form-control"
									placeholder="请输入备注" type="text" />
							</div>
						</div>
						<div class="form-group">
							<label>级别</label> <select th:field="${role.status.id}"
								class="form-control" type="text">
								<option value="1">正常</option>
								<option value="0">删除</option>
							</select>
						</div>
						<input type="hidden" name="_pjax" value="[data-pjax-container]" /> 
						<button type="提交" class="btn btn-info">Submit</button>
					</form>
				</div>
			</section>
		</div>
	</div>
</div>
<div th:replace="layout/error-tips"></div>