<div class="panel">
	<div class="panel-body">
		<div class="col-lg-12">
			<section class="panel">
				<header class="panel-heading">
					<span class="">新建</span> <span
						class="tools pull-right"> 
						<a href="/roles" class="fa fa-times"></a>
					</span>
				</header>
				<div class="panel-body">
					<form role="form" action="/roles" method="post" class="pjax-form">
						<div class="form-group">
							<label>用户名</label>
							<div class="iconic-input">
								<i class="fa fa-bullhorn"></i> <input th:field="${entity.name}"
									class="form-control" placeholder="输入角色名称" type="text" />
							</div>
						</div>
						<div class="form-group">
							<label>备注</label>
							<div class="iconic-input right">
								<i class="fa fa-coffee"></i> <input
									th:field="${entity.desc}" class="form-control"
									placeholder="请输入备注" type="text" />
							</div>
						</div>
						<input type="hidden" name="_pjax" value="[data-pjax-container]" /> 
						<button type="Submit" class="btn btn-info">提交</button>
					</form>
				</div>
			</section>
		</div>
	</div>
</div>
<div th:replace="layout/error-tips"></div>