<div class="panel">
	<div class="panel-body">

		<div class="col-lg-12">
			<section class="panel">
				<header class="panel-heading">
					<span class="">修改</span> <span class="tools pull-right"> 
						<a href="/menus" class="fa fa-times"></a>
					</span>
				</header>
				<div class="panel-body">
					<form role="form" th:action="@{/menus/{menuId}/(menuId=${entity.id})}" method="post" class="pjax-form" >
						<div class="form-group">
							<label>名称</label>
							<div class="iconic-input">
								<i class="fa fa-bullhorn"></i> <input th:field="${entity.name}"
									class="form-control" placeholder="输入菜单名称" type="text" />
							</div>
						</div>
						<div class="form-group">
							<label>等级</label>
							<div class="iconic-input right">
								<i class="fa fa-coffee"></i> <select name="level.id"
									class="form-control" placeholder="请选择等级">
									<option th:each="collect,iterStat : ${levels}"
										th:text="${collect.name}" th:value="${collect.id}"></option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label>上级</label>
							<div class="iconic-input right">
								<i class="fa fa-coffee"></i> <select name="top.id"
									class="form-control" placeholder="请选择上级">
									<option th:each="collect,iterStat : ${topMenus}"
										th:text="${collect.name}" th:value="${collect.id}"></option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label>URL</label>
							<div class="iconic-input right">
								<i class="fa fa-coffee"></i> <input th:field="${entity.resource}"
									class="form-control" placeholder="输入URL地址" type="text" />
							</div>
						</div>
						
						<input type="hidden" name="_pjax" value="[data-pjax-container]" /> 
						<button type="Submit" class="btn btn-info">提交</button>
					</form>
				</div>
			</section>
		</div>
	</div>
</div>