<div class="panel">
	<div class="panel-body">
		<div class="col-lg-12">
			<section class="panel">
				<header class="panel-heading">
					<span class="">新建</span> <span
						class="tools pull-right"> 
						<a href="/users" class="fa fa-times"></a>
					</span>
				</header>
				<div class="panel-body">
					<form role="form" action="/users" method="post" class="pjax-form">
						<div class="form-group">
							<label>用户名</label>
							<div class="iconic-input">
								<i class="fa fa-bullhorn"></i> <input th:field="${user.name}"
									class="form-control" placeholder="输入用户名" type="text" />
							</div>
						</div>
						<div class="form-group">
							<label>邮箱</label>
							<div class="iconic-input right">
								<i class="fa fa-coffee"></i> <input
									th:field="${user.email}" class="form-control"
									placeholder="请输入邮箱" type="text" />
							</div>
						</div>

						<div class="form-group">
							<label>手机号</label>
							<div class="iconic-input right">
								<i class="fa fa-coffee"></i> <input
									th:field="${user.phone}" class="form-control"
									placeholder="输入手机号" type="text" />
							</div>
						</div>
						<input type="hidden" name="_pjax" value="[data-pjax-container]" /> 
						<button type="提交" class="btn btn-info">Submit</button>
					</form>
				</div>
			</section>
		</div>
	</div>
</div>