<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meedesidy.jeedey.mapper.RoleMapper">
	<resultMap type="com.meedesidy.jeedey.entity.Role" id="roleMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="description" property="desc" jdbcType="VARCHAR" />
		<association property="status" javaType="com.meedesidy.jeedey.entity.enums.Status">
            <id column="status" property="id" jdbcType="INTEGER" />
        </association>
	</resultMap>
	
	<sql id="Base_Query_Sql">
		SELECT id, name, description, status FROM roles WHERE 1=1 AND status = 1
	</sql>
	
	<select id="getEntity"  parameterType="INTEGER" resultMap="roleMap">
        <include refid="Base_Query_Sql" />
         AND roles.id = #{id}
    </select>
    
    <update id="update" parameterType="com.meedesidy.jeedey.entity.Role">
    	UPDATE roles set
    	<trim suffixOverrides=",">
	    	<if test="name != null"> name = #{name}, </if>
	    	<if test="desc != null"> description = #{desc}, </if>
	    	<if test="status != null"> status = #{status.id}, </if>
    	</trim>
    	where id = #{id}
    </update>
    
  	<select id="pageQuery" resultMap="roleMap">
        <include refid="Base_Query_Sql" />
        <if test="name != null"> AND roles.name like CONCAT('%', #{name}, '%')</if>
        <if test="desc != null"> AND roles.description like CONCAT('%', #{desc}, '%')  </if>
        <if test="status != null and status.id != null"> AND roles.status = #{status.id}</if>
        ORDER BY id DESC
    </select>
	
	<insert id="insert" parameterType="com.meedesidy.jeedey.entity.Role" useGeneratedKeys="true"  keyProperty="id">
		INSERT INTO roles 
		<trim suffixOverrides="," suffix=")" prefix="(">
			<if test="name != null"> name, </if>
			<if test="desc != null"> description, </if>
			<if test="status != null and status.id != null"> status, </if>
		</trim>
		VALUES 
		<trim suffixOverrides="," suffix=")" prefix="(">
			<if test="name != null"> #{name}, </if>
			<if test="desc != null"> #{desc}, </if>
			<if test="status != null and status.id != null"> #{status.id}, </if>
		</trim>
 	</insert>
 	
 	<update id="delete"  parameterType="java.util.List">
 		UPDATE roles SET status = 0 
 		WHERE 1 = 1 
        <foreach collection="array" index="index" item="item" open="and id in(" separator="," close=")">
        	#{item}
        </foreach> 
 	</update>
</mapper>