<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meedesidy.jeedey.mapper.UserMapper">
	<resultMap type="com.meedesidy.jeedey.entity.User" id="userMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<association property="status" javaType="com.meedesidy.jeedey.entity.enums.Status">
            <id column="status" property="id" jdbcType="INTEGER" />
        </association>
	</resultMap>
	
	<sql id="Base_Query_Sql">
		SELECT id, name, phone, email, status FROM users WHERE 1=1
	</sql>
	
	<select id="getEntity"  parameterType="INTEGER" resultMap="userMap">
        <include refid="Base_Query_Sql" />
         AND users.id = #{id}
    </select>
    
    <update id="update" parameterType="com.meedesidy.jeedey.entity.User">
    	UPDATE users set
    	<trim suffixOverrides=",">
	    	<if test="name != null"> name = #{name}, </if>
	    	<if test="email != null"> email = #{email}, </if>
	    	<if test="phone != null"> phone = #{phone}, </if>
	    	<if test="status != null"> status = #{status.id}, </if>
    	</trim>
    	where id = #{id}
    </update>
    
  	<select id="pageQuery" resultMap="userMap">
        <include refid="Base_Query_Sql" />
    	<if test="name != null"> AND name like CONCAT('%', #{name}, '%') </if>
    	<if test="email != null"> AND email like CONCAT('%', #{email}, '%') </if>
    	<if test="phone != null"> AND phone like CONCAT('%', #{phone}, '%') </if>
    	<if test="status != null and status.id != null"> AND status = #{status.id} </if>
        ORDER BY id DESC
    </select>
	
	<insert id="insert" parameterType="com.meedesidy.jeedey.entity.User" useGeneratedKeys="true"  keyProperty="id">
		INSERT INTO users 
		<trim suffixOverrides="," suffix=")" prefix="(">
			<if test="name != null"> name, </if>
			<if test="phone != null"> phone, </if>
			<if test="email != null"> email, </if>
			<if test="status != null and status.id != null"> status, </if>
		</trim>
		VALUES 
		<trim suffixOverrides="," suffix=")" prefix="(">
			<if test="name != null"> #{name}, </if>
			<if test="phone != null"> #{phone}, </if>
			<if test="email != null"> #{email}, </if>
			<if test="status != null and status.id != null"> #{status.id}, </if>
		</trim>
 	</insert>
 	
 	<update id="delete"  parameterType="java.util.List">
 		UPDATE users SET status = 0 
 		WHERE 1 = 1 
        <foreach collection="array" index="index" item="item" open="and id in(" separator="," close=")">
        	#{item}
        </foreach> 
 	</update>
</mapper>